.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 !important;
}

.results {
    display: flex !important;
    align-items: center;

    margin-left: 5px;

    input {
        width: 30px;
    }

    button {
        width: 30px;
        height: 30px;

        margin-left: 5px;
        padding: 0 !important;
    }
}