.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 !important;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
        width: 35px;
        height: 35px;

        margin: 0 5px 5px;
    }
}

.player {
    input {
        &::placeholder {
            font-size: 10px;
        }
    }
}

.score {
    width: 125px !important;
}